.divider {
  width: 64px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
  background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(132, 45, 253, 1) 100%);
  margin: 4rem 0;
}

@media screen and (max-width: 768px) {
  .divider {
    width: 48px;
    height: 4px;
  }
}
@media screen and (max-width: 640px) {
  .divider {
    width: 32px;
    height: 2px;
  }
}
