.container {
  padding: 32px 48px 0;
  margin: 0 auto;
  max-width: 1040px;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 24px 48px 0;
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .container {
    padding: 16px 16px 0;
    width: calc(100vw - 32px);
  }
}
