/* typography - size */
.t-largest {
  font-size: 4rem;
}

.t-large {
  font-size: 3rem;
}

.t-medium {
  font-size: 2rem;
}

.t-small {
  font-size: 1rem;
}

/* typography - font weight */

.fw-l {
  font-weight: 700;
}

.fw-m {
  font-weight: 500;
}

.fw-s {
  font-weight: 300;
}

/* colors */
.white {
  color: white;
}

/* text placement */

.text-center {
  text-align: center;
}

/* content placement */

.inline {
  display: inline;
}

.block {
  display: block;
}

/* padding */

.p-s {
  padding: 0.5rem;
}

.p-m {
  padding: 1rem;
}

.p-l {
  padding: 1.5rem;
}

/* margin */

.m-s {
  margin: 0.5rem;
}

.m-m {
  margin: 1rem;
}

.m-l {
  margin: 1.5rem;
}

/* height/width */

.h-100 {
  height: 100%;
}

.w-100 {
}

/* shadow effect */
.box-shadow {
  box-shadow: inset 0 0 10px #000000;
}
.text-shadow {
  text-shadow: 1px 1px 1px #000;
}
